/* HALVARBREIT-Fonts */
@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/HALVARBREIT-BD.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/HALVARBREIT-BDSLANTED.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/HALVARBREIT-BLK.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/HALVARBREIT-BLKSLANTED.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/HALVARBREIT-LT.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/HALVARBREIT-LTSLANTED.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/HALVARBREIT-MD.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/HALVARBREIT-MDSLANTED.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/HALVARBREIT-RG.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/HALVARBREIT-RGSLANTED.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/HALVARBREIT-TH.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/HALVARBREIT-THSLANTED.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/HALVARBREIT-XBD.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/HALVARBREIT-XBDSLANTED.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/HALVARBREIT-XTH.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/HALVARBREIT-XTHSLANTED.TTF');
}

/* TTFIRSNEUE-Fonts */
@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/TTFIRSNEUE-BLACK.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/TTFIRSNEUE-BLACKITALIC.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/TTFIRSNEUE-BOLD.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/TTFIRSNEUE-BOLDITALIC.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/TTFIRSNEUE-DEMIBOLD.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/TTFIRSNEUE-DEMIBOLDITALIC.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/TTFIRSNEUE-EXTRABOLD.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/TTFIRSNEUE-EXTRABOLDITALIC.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/TTFIRSNEUE-EXTRALIGHT.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/TTFIRSNEUE-EXTRALIGHTITALIC.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/TTFIRSNEUE-ITALIC.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/TTFIRSNEUE-LIGHT.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/TTFIRSNEUE-LIGHTITALIC.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/TTFIRSNEUE-MEDIUM.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/TTFIRSNEUE-REGULAR.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/TTFIRSNEUE-THIN.TTF');
}

@font-face {
    font-display: swap;
    font-family: 'HALVARBREIT';
    src: url('../fonts/TTFIRSNEUE-THINITALIC.TTF');
}