::-webkit-scrollbar {
    width: .500rem;
}

::-webkit-scrollbar-track {
    background-color: white;
    width: 120px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(101deg, #01889a 0.41%, #2db7ca 108.74%);
    width: 120px;
    border-radius: 120px;
}

:root {
    --white: #FFFFFF;
    --black: #000000;
    --blue: #01889A;
}

::selection {
    background-color: var(--blue);
    color: var(--white);
}


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
    font-size: inherit;
    font-family: inherit;
}

ul,
ol,
li {
    padding: 0;
    margin: 0;
    list-style: none;
    list-style-type: none;
}

html {
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    font-family: 'TT Interfaces', 'Hauora', 'ALS Hauss', 'TTInterphasel';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: var(--white);
    color: var(--black);
    overflow-x: hidden;
}

.container {
    width: 100%;
    max-width: 1366px !important;
    padding: 0 56px;
    margin: 0 auto !important;
}

@media(max-width:1250px) {
    .container {
        width: 100%;
        max-width: 1250px !important;
        padding: 0 30px;
        margin: 0 auto;
    }
}

@media(max-width:700px) {
    .container {
        width: 100%;
        max-width: 700px !important;
        padding: 0 16px;
        margin: 0 auto;
    }
}

body {
    min-width: 320px;
    display: flex;
    flex-direction: column;
    font-family: 'TT Interfaces', 'ALS Hauss', 'Hauora';
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    height: 100%;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: var(--white);
    color: var(--black);
    overflow-x: hidden;
}

#preloader {
    background-image: url('../icons/loader.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 19999;
}

#preloader2 {
    background-image: url('../icons/white-loader.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 19999;
}

.scrollup {
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    position: fixed;
    right: 1rem;
    bottom: 15% !important;
    background: linear-gradient(101deg, #01889a 0.41%, #2db7ca 108.74%);
    padding: 0 .3rem;
    border-radius: 100%;
    z-index: 211;
    transform: scale(0);
    transition: .4s;
}

.scrollup:active {
    opacity: 0.6;
}

.show-scroll {
    bottom: 5rem;
    transform: scale(1);
}